body {
    margin: 0;
    font-family: sans-serif;
    background: #121212;
    color: white;
}

#nav {
    display: flex;
    justify-content: space-around;
    padding: 15px 0px;
    background: #1f1f1f;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#nav button {
    background: #2a2a2a;
    border: none;
    color: white;
    padding: 20px 25px;
    border-radius: 8px;
}

#content {
    padding: 20px;
    padding-bottom: 80px;
}

.screen {
    display: none;
}

.screen.active {
    display: block;
}

.app-item {
    padding: 10px;
    margin-bottom: 10px;
    background: #1e1e1e;
    border-radius: 8px;
    cursor: pointer;
}